.editorContainer {
    margin-left: -20px;
    margin-right: 60px;
    margin-bottom: 5px;
}

.editor {
    width: 450px;
    height: 420px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.navbar-brand {
    margin-right: 175px;   
}

#sidebar {
    height: 500px;
}